.updates {
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 60px 0;

	h1 {
		margin-left: 60px;
	}

	.update-list {
		width: 100%;
		display: flex;
		align-items: center;
		overflow-x: auto;

		> :first-child {
			margin-left: 60px;
		}

		&::-webkit-scrollbar {
		  display: none;
		}
	}
}