.menu {
  display: flex;
  align-items: center;
  height: 50%;
  width: auto;
  z-index: 11;
  transition: all 300ms ease-in-out;

  &.close {
    position: fixed;
    transform: translateX(320px);

    .menu-lines {

      div {
        transform: scale(0);
      }

      &:before {
        background: white;
        transform: translateY(9px) rotate(135deg);
      }

      &:after {
        transform: translateY(-9px) rotate(-135deg);
      }
    }
  }

  .menu-button {
      cursor: pointer;
      width: 28px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .menu-lines {
        position: relative;
        content: "";
        display: block;
        width: 100%;
        background: black;
        padding: 0;

        &:before,
        &:after,
        div {
          position: absolute;
          content: "";
          display: block;
          background: black;
          width: 100%;
          height: 2px;
        }
        
        &:before {
          left: 0;
          top: -10px;
        }

        &:after {
          left: 0;
          bottom: -10px;
        }

        &.inverted {
          background: white;

          &:before,
          &:after,
          div {
            background: white;
          }
        }
      }
  }
}