.menu {
  display: flex;
  align-items: center;
  height: 50%;
  width: auto;
  z-index: 5;
  transition: all 300ms ease-in-out;

  &.hide {
    opacity: 0;
  }

  .menu-button {
      cursor: pointer;
      width: 28px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .menu-lines {
        position: relative;
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: black;
        padding: 0;

        &:before,
        &:after {
          position: absolute;
          content: "";
          display: block;
          background: black;
          width: 100%;
          height: 2px;
        }
        
        &:before {
          left: 0;
          top: -10px;
        }

        &:after {
          left: 0;
          bottom: -10px;
        }

        &.inverted {
          background: white;

          &:before,
          &:after {
            background: white;
          }
        }
      }
  }
}