.drop-menu {
	position: fixed;
	top: 0;
	left: 20px;
	height: 100%;
	width: 100%;
	max-width: 400px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: black;
	z-index: 10;
	transition: all 500ms ease-in-out;
	padding: 60px 0;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;

	&::-webkit-scrollbar {
	  display: none;
	}

	@media screen and (max-width: 500px) {
      max-width: 350px;
    }

	&.show {
		opacity: 0.9;
		transform: none;
	}

	&.hide {
		opacity: 0;
		transform: translateY(-100%);
	}

	.drop-menu-content {
		position: absolute;
		display: flex;
		flex-direction: column;
		height: 100%;
		padding: 0 80px;
		margin: 60px 0;

		.icon-set {
			width: auto;
			height: auto;
			display: flex;
			flex-direction: row;
			align-items: center;

			&:hover .icon {
				fill: gray;
			}

			.icon {
				width: 24px;
				height: 24px;
				margin-right: 20px;
				transition: all 200ms ease-in-out;
				fill: white;
				cursor: pointer;

				&:hover {
					fill: white;
				}
			}
		}
	}
}