.our-story {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px 60px;

	.text {
		width: 100%;
		text-align: center;
		max-width: 1000px;

		h1 {
			font-size: 40px;
		}

		p {
			font-size: 18px;
			line-height: 53px;
		}
	}
}