.our-story {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px 60px;

	.text {
		width: 100%;
		text-align: center;

		p {
			font-size: 20px;
		}
	}
}