.gallery-item {
	width: 100vw;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: green;
	margin: 10px;

	.image { 
		background-position: center;
		background-size: cover;
		max-width: 800px;
		height: auto;
	}
}