.home {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

	.hero {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
		z-index: -1;
		background-image: url('../../assets/TFE_desktop_homepage_image.jpg');
		

		@media screen and (max-width: 750px) {
			background-image: url('../../assets/TFE_mobile_homepage_image.jpg');
		}
	}

	.menu-button-header {
		position: absolute;
		top: 0;
		left: 0;
		height: 80px;
		width: 100%;
		padding: 10px 40px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	.center {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;

		.logo-container {
			margin-bottom: 140px;
			display: flex;
			justify-content: center;

			svg {
				width: 500px;
				max-width: 70%;
				height: auto;
			}
		}
	}

	.scroll-message {
		text-align: center;
		position: absolute;
		bottom: 20px;
		left: 50%;
		transform: translateX(-50%);
		color: white;
		font-size: 16px;
		font-family: 'Lexend Deca', sans-serif;
		letter-spacing: 3.2px;
	}
}