.header {
  position: fixed;
  height: 80px;
  width: 100%;
  padding: 10px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  z-index: 5;
  transition: all 500ms ease-in-out;

  @media screen and (max-width: 768px) {
    padding: 10px 20px;
  }

  &.inverted {
    background-color: transparent;

    svg {
      fill: white;
    }
  }

  &.fade-in {
    opacity: 1;
  }

  &.fade-out {
    opacity: 0;
  }

  .logo-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 220px;
    max-width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .book-button {
    margin-left: auto;
  }
}
