.footer {
	margin-top: 60px;
	height: auto;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: #252525;

	.footer-content {
		padding: 100px;

		.icon-set {
			width: auto;
			height: auto;
			display: flex;
			flex-direction: row;
			align-items: center;

			&:hover .icon {
				fill: gray;
			}

			.icon {
				width: 24px;
				height: 24px;
				margin-right: 20px;
				transition: all 200ms ease-in-out;
				fill: white;
				cursor: pointer;

				&:hover {
					fill: black;
				}
			}
		}
	}
}