.footer {
	margin-top: 60px;
	height: 160px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f6f6f6;

	.icon-set {
		width: 120px;
		height: auto;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		&:hover .icon {
			fill: gray;
		}

		.icon {
			width: 24px;
			height: 24px;
			transition: all 200ms ease-in-out;
			cursor: pointer;

			&:hover {
				fill: black;
			}
		}
	}
}